<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Henlo wolrd</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        button {
            color: white;
            background-color: blue;
            border: 1px solid darkblue;
            text-align: center;
            width: 202px;
            height:40px;
        }
        input {
            border: 1px solid darkblue;
            width: 200px;
            height:40px;
        }
        p.second {
            padding: 5px;
        }
        p {
            font-family: Arial;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/greeting}" th:object="${fame}" method="post">
    <p><b>Enter your name:</b></p>
    <p><input  type="text" size="40"  th:field="*{content}" /></p>
    <p><button type="submit" > Update </button></p>
</form>
<p class="second"  th:text="'Hello, ' + ${name} + '!'" />
<p><a href="hall_of_fame">Hall of Fame</a> </p>
</body>
</html>