<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hall of Fame</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        button {
            color: white;
            background-color: blue;
            border: 1px solid darkblue;
            text-align: center;
            width: 202px;
            height:40px;
        }
        input {
            border: 1px solid darkblue;
            width: 200px;
            height:40px;
        }
        p {
            font-family: Arial;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Name </th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:if="${hall.empty}">-->
<!--        <td colspan="2"> No Books Available </td>-->
<!--    </tr>-->
    <tr th:each="fame : ${hall}">
        <td><span th:text="${#numbers.formatInteger(fame.id,3)}">  Id </span></td>
        <td><span th:text="${fame.content}"> Name </span></td>
    </tr>
    </tbody>
</table>
<p><a href="greeting">Back to greeting</a> </p>
</body>
</html>